.myContainerFrozen {
    display: grid;
    position: relative;
    width: 400px;
    height: 241.406px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px repeat(6, 40px);
    overflow: hidden;
}

.CDiv {
    border-style: solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    cursor: cell;
    height: 40px;
    line-height: 40px;
}

.grid-wrapper {
    height: 400px;
    width: 900px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-cell {
    width: 100px;
    height: 20px;
    border: 1px solid #339af0;
    flex: 1 0 21%;
}
