@inject IThemeMessageService<ThemeConfigData> ThemeMessageService
@inject NavigationManager NavigationManager
@page "/Feature1/List"
@implements IDisposable

<div class="container-fluid">
    <h1>Feature1</h1>
    <h3>Header hidden</h3>
    <h3>Navigation hidden</h3>
    <h3>Footer hidden</h3>
    <div>
        <span @onclick="@OnBack" style="cursor: pointer; color:#339af0"><i class="fas fa-home"></i> Dashboard</span>
    </div>

    <div class="grid-wrapper">
        @for (var i = 1; i < RowNumber; i++)
        {
            @for (var y = 1; y < 10; y++)
            {
                <div @key="@i" class="grid-cell">
                    @i
                </div>
            }
        }
    </div>

</div>

@code {

    private int RowNumber { get; set; } = 1000;

    protected override void OnInitialized()
    {

        var themeConfigData = new ThemeConfigData()
        {
            IsDesktopMode = true,
            IsFooterHidden = true,
            IsHeaderHidden = true,
            IsNavigationHidden = true
        };

        var actionMessage = new ActionMessage<ThemeConfigData>
        {
            Emitter = ThemeMessageEmitter.DefaultComponent,
            Data = themeConfigData
        };

        ThemeMessageService.SendMessage(actionMessage);
    }

    private void OnBack()
    {
        NavigationManager.NavigateTo("/blazor-admin-dashboard/");
    }

    public void Dispose()
    {
        Console.WriteLine("Disposing");
    }
}
