@import "../_theme-variables.scss";

.minified {
  .coms-desktop-header {
    margin: 0 0 0 -45px;
    z-index: 99;
  }
}

.hidden-header .coms-desktop-header {
  display: none;
}

.coms-desktop-header {
  background-color: white;
  height: $coms-navbar-height;
  margin: 0 0 0 -220px;
  z-index: 99;
}
