@import "../_theme-variables.scss";

.dnet-desktop-footer {
  background-color: $dnet-footer-background;
  height: $dnet-footer-height;
  padding: 0 45px 0 0;
}

.hidden-footer .dnet-desktop-footer {
  display: none;
}
