@import "../_theme-variables.scss";

.coms-desktop-footer {
  background-color: $coms-footer-background;
  height: $coms-footer-height;
  padding: 0 45px 0 0;
}

.hidden-footer .coms-desktop-footer {
  display: none;
}
