@import "../_theme-variables.scss";

.minified {
    aside,
    .coms-desktop-navigation {
        width: 45px;
    }
}

.hidden-navigation .coms-desktop-navigation {
    display: none;
}

.coms-desktop-navigation {
    width: 220px;
    padding: 40px 0 0;
    height: 100%;
    flex: 0 1 1;
}

aside {
    width: 220px;
    padding: 40px 0 0 0;
    background-color: $asideColor;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 100%;
    // -webkit-transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
    // transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
    // -webkit-transform: translate(0px, 0px) translateZ(0px);
}
