.minified {
  .dnet-desktop-center-column {
    width: calc(100vw - 45px);
  }
}

.dnet-desktop-center-column {
  width: calc(100vw - 220px);
}

.hidden-navigation .dnet-desktop-center-column {
  width: calc(100vw - 0px);
}
