.minified {
  .coms-desktop-center-column {
    width: calc(100vw - 45px);
  }
}

.coms-desktop-center-column {
  width: calc(100vw - 220px);
}

.hidden-navigation .coms-desktop-center-column {
  width: calc(100vw - 0px);
}
