//== Colors
$primary-reset: #6a1b9a;
$primary-dark: #0f1e32;
$primary-light: #ffb2ff;

$secondary-reset: #fa804f;
$secondary-dark: #c25123;
$secondary-light: #ffb17d;

$black: #000;
$red: #d6b7be;
$white:	#ffffff;
$gray-dark: lighten($black, 20%);   // #333

$base-url: "/img";
$html-background-image: "mybg.png";
$body-background-image: "mybg.png";

//** Background color for `<body>`.
$body-bg: #fff;
//** Global text color on `<body>`.

//** Global textual link color.
$link-color: $primary-light;
$link-hover-color: darken($link-color, 15%);

//== IMAGE PATH & BACKGROUNDS
//
//##
$html-background-color: white;
$body-background-color: white;

//== HEADER
//
//##
$coms-navbar-height: 40px;
$dnet-navbar-color: $primary-reset;

//== ASIDE WIDTH (NAVIGATION WIDTH & COLOR)
//
//##
$asideWidth: 220px;
$asideDataURL: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==";
$asideColor: $primary-reset;
$asideLinkColor: #FFFFFF;
$minifymeBg: $primary-dark;
$minifymeColor: #38455b;


//== FOOTER
//
//##
$coms-footer-height: 0;
$coms-footer-background: #FFFFFF;
