@inject IThemeMessageService<ThemeConfigData> ThemeMessageService
@page "/Feature2/List"

<div class="container-fluid">
    <h1>Feature2</h1>
</div>

@code {

    protected override void OnInit()
    {

        var themeConfigData = new ThemeConfigData()
        {
            IsDesktopMode = false,
            IsFooterHidden = false,
            IsHeaderHidden = false,
            IsNavigationHidden = false
        };

        var actionMessage = new ActionMessage<ThemeConfigData>
        {
            Emitter = ThemeMessageEmitter.DefaultComponent,
            Data = themeConfigData
        };

        ThemeMessageService.SendMessage(actionMessage);
    }
}
