.dnet-desktop-content {

  padding: 0;
  flex: 1 1 0;

  &.destok-layout {
    height: calc(100vh - 40px);
  }

}

.hidden-header.hidden-footer .dnet-desktop-content {

  min-height: calc(100vh - 0px);
  height: 100%;
  padding: 0;

  &.destok-layout {
    height: calc(100vh - 0px);
  }

}
