@inject IThemeMessageService<ThemeConfigData> ThemeMessageService

<div class="dnet-desktop-content @(IsDesktopMode ? "destok-layout" : null)">@ChildContent</div>

@code {

    public bool IsDesktopMode { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {

        ThemeMessageService.GetMessage().Subscribe(p =>
        {

            IsDesktopMode = p.Data.IsDesktopMode;
            StateHasChanged();
        });
    }

}
