<div class="dnet-desktop-header-content">
    <div class="row no-gutters">
        <div class="col-6">
            <div id="logo-group" class="d-flex align-items-center h-100 dnet-m-l-10">
                <span>
                    <img src="/blazor-admin-dashboard/img/blazor-logo.png" alt="SmartAdmin" style="height: 25px; width: 25px;">
                </span>
                <div id="app-name" class="dnet-m-l-5">
                    <span>@AppName</span>
                </div>
                <div id="app-description" class="dnet-m-l-10">
                    <span>@AppDescription</span>
                </div>
                <div id="app-version" class="dnet-m-l-5">
                    <span>@AppVersion</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end align-items-center" style="height: 100%">
                <div class="d-flex flex-row justify-content-end align-items-center dnet-m-r-50 dnet-left-header-data">
                    <div class="dnet-user-image-container d-flex justify-content-end align-items-center">
                        <span class="img-circle">
                            <i class="fas fa-user-circle"></i>
                        </span>
                    </div>
                    <div class="dnet-user-data">
                        <div class="dnet-m-r-10">
                            <span class="dnet-user-name">@UserName <i class="fas fa-certificate" style="color:#FFD700; padding-bottom: 2px;" *ngIf="isInGodRole"></i></span>
                        </div>
                        <div class="">
                            <span class="dnet-user-plan">@PersonName</span>
                        </div>
                    </div>
                </div>
                <div id="right-group" class="d-flex align-items-center justify-content-center flex-row-reverse h-100">
                    <span id="logo-team">
                        @*<img src="/img/blazor-logo.png" alt="SmartAdmin">*@
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string AppName { get; set; }

    [Parameter]
    public string AppDescription { get; set; }

    [Parameter]
    public string AppVersion { get; set; }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string PersonName { get; set; }

}
